body {
  background-color: wheat;
}
img {
  width: 16rem;
  height: 20rem;
}
#add-property {
  background-color: blanchedalmond;
  padding: 20px;
  margin: 30px;
  height: 250px;
  width: 300px;
  
}

  #title  {
    margin: 5px;
   
  }
  #image  {
    margin: 5px;
  }
  #location  {
    margin: 5px;
  }
  #price  {
    margin: 5px;
  }

  
